body {
    background-color: #fff;
    /* font-family: 'Krona One', sans-serif; */
    font-family: 'Lato', sans-serif;
    color: #000000;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/********************* NAV *********************/
nav ul {
    display: flex;
    justify-content: space-between;
    width: 1000px;

}

nav > ul > li {
    font-family: 'Krona One', sans-serif;
    font-size: 27px;
    line-height: 31px;
}

nav > ul > li > a {
    list-style-type: none;
    text-decoration: none;
    color: #000000;
    position: relative;
}

nav > ul > li > a::after {
    content: '';
    position: absolute;
    display: block;
    /* top: -2px; */
    bottom: -2px;
    width: 0;
    height: 3px;
    background-color: #000;
    transition: width .3s;
}

nav > ul > li > a:hover::after {
    width: 100%;
    transition: width .3s;
}


/**************************** CONTACT FORM  ******/

.main {
    width: 600px;
    margin: 70px auto;
    text-align: center;
}

.main h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-family: 'Krona One', sans-serif;
    font-size: 45px;
    line-height: 50px;
    color: rgb(20%, 20%, 20%);
}

.main p {
    margin-bottom: 70px;
    font-size: 25px;
    line-height: 30px;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    color: rgb(30%, 30%, 30%);
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    height: 35px;
    width: 400px;
    border-radius: 30px;
    border: rgba(100, 100, 100, 0.459) 2px solid;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

form textarea {
    height: 130px;
    width: 400px;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    border: rgba(100, 100, 100, 0.459) 2px solid;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}


/**************************** FOOTER ******/
footer {
    padding-top: 100px;
    width: 100%;
    height: auto;
    background-color: #F4DDDD;
}

.footer__nav > ul {
    width: 700px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.footer__nav > ul > li {
    font-size: 20px;
    line-height: 36px;

}

.footer__nav > ul > li > a {
    list-style-type: none;
    text-decoration: none;
    font-family: 'Krona One', sans-serif;
    color: #B0B8BC;
}

.socials img {
    display: block;
}

.socials {
    width: 200px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.copyright {
    margin-top: 75px;
    padding-bottom: 60px;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #B0B8BC;
}